<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.onetypecabinet.mapper.WmsCabinet1ReturnTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.onetypecabinet.entity.WmsCabinet1ReturnTask">
        <id column="id" property="id" />
        <result column="task_number" property="taskNumber" />
        <result column="return_request_id" property="returnRequestId" />
        <result column="process_number" property="processNumber" />
        <result column="material_type_id" property="materialTypeId" />
        <result column="material_name" property="materialName" />
        <result column="material_sku" property="materialSku" />
        <result column="material_id" property="materialId" />
        <result column="material_serial_number" property="materialSerialNumber" />
        <result column="stock_id" property="stockId" />
        <result column="loca_number" property="locaNumber" />
        <result column="operator" property="operator" />
        <result column="operation_time" property="operationTime" />
        <result column="task_state" property="taskState" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", task_number AS "taskNumber", return_request_id AS "returnRequestId", process_number AS "processNumber", material_type_id AS "materialTypeId", material_name AS "materialName", material_sku AS "materialSku", material_id AS "materialId", material_serial_number AS "materialSerialNumber", stock_id AS "stockId", loca_number AS "locaNumber", operator AS "operator", operation_time AS "operationTime", task_state AS "taskState", create_time AS "createTime", update_time AS "updateTime"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.onetypecabinet.model.result.WmsCabinet1ReturnTaskResult" parameterType="cn.stylefeng.guns.modular.onetypecabinet.model.params.WmsCabinet1ReturnTaskParam">
        select
        <include refid="Base_Column_List"/>
        from wms_cabinet1_return_task where 1 = 1
            <if test="paramCondition.id != null and paramCondition.id != ''">
                and id like CONCAT('%',#{paramCondition.id},'%')
            </if>
            <if test="paramCondition.taskNumber != null and paramCondition.taskNumber != ''">
                and task_number like CONCAT('%',#{paramCondition.taskNumber},'%')
            </if>
            <if test="paramCondition.returnRequestId != null and paramCondition.returnRequestId != ''">
                and return_request_id like CONCAT('%',#{paramCondition.returnRequestId},'%')
            </if>
            <if test="paramCondition.processNumber != null and paramCondition.processNumber != ''">
                and process_number like CONCAT('%',#{paramCondition.processNumber},'%')
            </if>
            <if test="paramCondition.materialTypeId != null and paramCondition.materialTypeId != ''">
                and material_type_id like CONCAT('%',#{paramCondition.materialTypeId},'%')
            </if>
            <if test="paramCondition.materialName != null and paramCondition.materialName != ''">
                and material_name like CONCAT('%',#{paramCondition.materialName},'%')
            </if>
            <if test="paramCondition.materialSku != null and paramCondition.materialSku != ''">
                and material_sku like CONCAT('%',#{paramCondition.materialSku},'%')
            </if>
            <if test="paramCondition.materialId != null and paramCondition.materialId != ''">
                and material_id like CONCAT('%',#{paramCondition.materialId},'%')
            </if>
            <if test="paramCondition.materialSerialNumber != null and paramCondition.materialSerialNumber != ''">
                and material_serial_number like CONCAT('%',#{paramCondition.materialSerialNumber},'%')
            </if>
            <if test="paramCondition.stockId != null and paramCondition.stockId != ''">
                and stock_id like CONCAT('%',#{paramCondition.stockId},'%')
            </if>
            <if test="paramCondition.locaNumber != null and paramCondition.locaNumber != ''">
                and loca_number like CONCAT('%',#{paramCondition.locaNumber},'%')
            </if>
            <if test="paramCondition.operator != null and paramCondition.operator != ''">
                and operator like CONCAT('%',#{paramCondition.operator},'%')
            </if>
            <if test="paramCondition.operationTime != null and paramCondition.operationTime != ''">
                and operation_time like CONCAT('%',#{paramCondition.operationTime},'%')
            </if>
            <if test="paramCondition.taskState != null and paramCondition.taskState != ''">
                and task_state like CONCAT('%',#{paramCondition.taskState},'%')
            </if>
            <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                and create_time like CONCAT('%',#{paramCondition.createTime},'%')
            </if>
            <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.onetypecabinet.model.params.WmsCabinet1ReturnTaskParam">
        select
        <include refid="Base_Column_List"/>
        from wms_cabinet1_return_task where 1 = 1
            <if test="paramCondition.id != null and paramCondition.id != ''">
                and id like CONCAT('%',#{paramCondition.id},'%')
            </if>
            <if test="paramCondition.taskNumber != null and paramCondition.taskNumber != ''">
                and task_number like CONCAT('%',#{paramCondition.taskNumber},'%')
            </if>
            <if test="paramCondition.returnRequestId != null and paramCondition.returnRequestId != ''">
                and return_request_id like CONCAT('%',#{paramCondition.returnRequestId},'%')
            </if>
            <if test="paramCondition.processNumber != null and paramCondition.processNumber != ''">
                and process_number like CONCAT('%',#{paramCondition.processNumber},'%')
            </if>
            <if test="paramCondition.materialTypeId != null and paramCondition.materialTypeId != ''">
                and material_type_id like CONCAT('%',#{paramCondition.materialTypeId},'%')
            </if>
            <if test="paramCondition.materialName != null and paramCondition.materialName != ''">
                and material_name like CONCAT('%',#{paramCondition.materialName},'%')
            </if>
            <if test="paramCondition.materialSku != null and paramCondition.materialSku != ''">
                and material_sku like CONCAT('%',#{paramCondition.materialSku},'%')
            </if>
            <if test="paramCondition.materialId != null and paramCondition.materialId != ''">
                and material_id like CONCAT('%',#{paramCondition.materialId},'%')
            </if>
            <if test="paramCondition.materialSerialNumber != null and paramCondition.materialSerialNumber != ''">
                and material_serial_number like CONCAT('%',#{paramCondition.materialSerialNumber},'%')
            </if>
            <if test="paramCondition.stockId != null and paramCondition.stockId != ''">
                and stock_id like CONCAT('%',#{paramCondition.stockId},'%')
            </if>
            <if test="paramCondition.locaNumber != null and paramCondition.locaNumber != ''">
                and loca_number like CONCAT('%',#{paramCondition.locaNumber},'%')
            </if>
            <if test="paramCondition.operator != null and paramCondition.operator != ''">
                and operator like CONCAT('%',#{paramCondition.operator},'%')
            </if>
            <if test="paramCondition.operationTime != null and paramCondition.operationTime != ''">
                and operation_time like CONCAT('%',#{paramCondition.operationTime},'%')
            </if>
            <if test="paramCondition.taskState != null and paramCondition.taskState != ''">
                and task_state like CONCAT('%',#{paramCondition.taskState},'%')
            </if>
            <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                and create_time like CONCAT('%',#{paramCondition.createTime},'%')
            </if>
            <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
            </if>
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.onetypecabinet.model.result.WmsCabinet1ReturnTaskResult" parameterType="cn.stylefeng.guns.modular.onetypecabinet.model.params.WmsCabinet1ReturnTaskParam">
        select
        <include refid="Base_Column_List"/>
        from wms_cabinet1_return_task where 1 = 1
            <if test="paramCondition.id != null and paramCondition.id != ''">
                and id like CONCAT('%',#{paramCondition.id},'%')
            </if>
            <if test="paramCondition.taskNumber != null and paramCondition.taskNumber != ''">
                and task_number like CONCAT('%',#{paramCondition.taskNumber},'%')
            </if>
            <if test="paramCondition.returnRequestId != null and paramCondition.returnRequestId != ''">
                and return_request_id like CONCAT('%',#{paramCondition.returnRequestId},'%')
            </if>
            <if test="paramCondition.processNumber != null and paramCondition.processNumber != ''">
                and process_number like CONCAT('%',#{paramCondition.processNumber},'%')
            </if>
            <if test="paramCondition.materialTypeId != null and paramCondition.materialTypeId != ''">
                and material_type_id like CONCAT('%',#{paramCondition.materialTypeId},'%')
            </if>
            <if test="paramCondition.materialName != null and paramCondition.materialName != ''">
                and material_name like CONCAT('%',#{paramCondition.materialName},'%')
            </if>
            <if test="paramCondition.materialSku != null and paramCondition.materialSku != ''">
                and material_sku like CONCAT('%',#{paramCondition.materialSku},'%')
            </if>
            <if test="paramCondition.materialId != null and paramCondition.materialId != ''">
                and material_id like CONCAT('%',#{paramCondition.materialId},'%')
            </if>
            <if test="paramCondition.materialSerialNumber != null and paramCondition.materialSerialNumber != ''">
                and material_serial_number like CONCAT('%',#{paramCondition.materialSerialNumber},'%')
            </if>
            <if test="paramCondition.stockId != null and paramCondition.stockId != ''">
                and stock_id like CONCAT('%',#{paramCondition.stockId},'%')
            </if>
            <if test="paramCondition.locaNumber != null and paramCondition.locaNumber != ''">
                and loca_number like CONCAT('%',#{paramCondition.locaNumber},'%')
            </if>
            <if test="paramCondition.operator != null and paramCondition.operator != ''">
                and operator like CONCAT('%',#{paramCondition.operator},'%')
            </if>
            <if test="paramCondition.operationTime != null and paramCondition.operationTime != ''">
                and operation_time like CONCAT('%',#{paramCondition.operationTime},'%')
            </if>
            <if test="paramCondition.taskState != null and paramCondition.taskState != ''">
                and task_state like CONCAT('%',#{paramCondition.taskState},'%')
            </if>
            <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                and create_time like CONCAT('%',#{paramCondition.createTime},'%')
            </if>
            <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
            </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.onetypecabinet.model.params.WmsCabinet1ReturnTaskParam">
        select
        <include refid="Base_Column_List"/>
        from wms_cabinet1_return_task where 1 = 1
            <if test="paramCondition.id != null and paramCondition.id != ''">
                and id like CONCAT('%',#{paramCondition.id},'%')
            </if>
            <if test="paramCondition.taskNumber != null and paramCondition.taskNumber != ''">
                and task_number like CONCAT('%',#{paramCondition.taskNumber},'%')
            </if>
            <if test="paramCondition.returnRequestId != null and paramCondition.returnRequestId != ''">
                and return_request_id like CONCAT('%',#{paramCondition.returnRequestId},'%')
            </if>
            <if test="paramCondition.processNumber != null and paramCondition.processNumber != ''">
                and process_number like CONCAT('%',#{paramCondition.processNumber},'%')
            </if>
            <if test="paramCondition.materialTypeId != null and paramCondition.materialTypeId != ''">
                and material_type_id like CONCAT('%',#{paramCondition.materialTypeId},'%')
            </if>
            <if test="paramCondition.materialName != null and paramCondition.materialName != ''">
                and material_name like CONCAT('%',#{paramCondition.materialName},'%')
            </if>
            <if test="paramCondition.materialSku != null and paramCondition.materialSku != ''">
                and material_sku like CONCAT('%',#{paramCondition.materialSku},'%')
            </if>
            <if test="paramCondition.materialId != null and paramCondition.materialId != ''">
                and material_id like CONCAT('%',#{paramCondition.materialId},'%')
            </if>
            <if test="paramCondition.materialSerialNumber != null and paramCondition.materialSerialNumber != ''">
                and material_serial_number like CONCAT('%',#{paramCondition.materialSerialNumber},'%')
            </if>
            <if test="paramCondition.stockId != null and paramCondition.stockId != ''">
                and stock_id like CONCAT('%',#{paramCondition.stockId},'%')
            </if>
            <if test="paramCondition.locaNumber != null and paramCondition.locaNumber != ''">
                and loca_number like CONCAT('%',#{paramCondition.locaNumber},'%')
            </if>
            <if test="paramCondition.operator != null and paramCondition.operator != ''">
                and operator like CONCAT('%',#{paramCondition.operator},'%')
            </if>
            <if test="paramCondition.operationTime != null and paramCondition.operationTime != ''">
                and operation_time like CONCAT('%',#{paramCondition.operationTime},'%')
            </if>
            <if test="paramCondition.taskState != null and paramCondition.taskState != ''">
                and task_state like CONCAT('%',#{paramCondition.taskState},'%')
            </if>
            <if test="paramCondition.createTime != null and paramCondition.createTime != ''">
                and create_time like CONCAT('%',#{paramCondition.createTime},'%')
            </if>
            <if test="paramCondition.updateTime != null and paramCondition.updateTime != ''">
                and update_time like CONCAT('%',#{paramCondition.updateTime},'%')
            </if>
    </select>

</mapper>
