<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.sparePartsManagement.wmsCabinet2ReplenishmentTask.mapper.WmsCabinet2ReplenishmentTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.sparePartsManagement.wmsCabinet2ReplenishmentTask.entity.WmsCabinet2ReplenishmentTask">
        <id column="id" property="id" />
        <result column="task_number" property="taskNumber" />
        <result column="material_type_id" property="materialTypeId" />
        <result column="material_id" property="materialId" />
        <result column="m_batch" property="mBatch" />
        <result column="m_number" property="mNumber" />
        <result column="stock_id" property="stockId" />
        <result column="turnover_id" property="turnoverId" />
        <result column="turnover_number" property="turnoverNumber" />
        <result column="loca_number" property="locaNumber" />
        <result column="operator" property="operator" />
        <result column="operation_time" property="operationTime" />
        <result column="task_state" property="taskState" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", task_number AS "taskNumber", material_type_id AS "materialTypeId", material_id AS "materialId", m_batch AS "mBatch", m_number AS "mNumber", stock_id AS "stockId",turnover_id AS "turnoverId",turnover_number AS "turnoverNumber", loca_number AS "locaNumber", operator AS "operator", operation_time AS "operationTime", task_state AS "taskState", create_time AS "createTime", update_time AS "updateTime"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.sparePartsManagement.wmsCabinet2ReplenishmentTask.model.result.WmsCabinet2ReplenishmentTaskResult" parameterType="cn.stylefeng.guns.modular.sparePartsManagement.wmsCabinet2ReplenishmentTask.model.params.WmsCabinet2ReplenishmentTaskParam">
        select
        <include refid="Base_Column_List"/>
        from wms_cabinet2_replenishment_task where 1 = 1
            <if test="paramCondition.taskNumber != null and paramCondition.taskNumber != ''">
                and task_number like CONCAT('%',#{paramCondition.taskNumber},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.sparePartsManagement.wmsCabinet2ReplenishmentTask.model.params.WmsCabinet2ReplenishmentTaskParam">
        select
        <include refid="Base_Column_List"/>
        from wms_cabinet2_replenishment_task where 1 = 1
            <if test="paramCondition.taskNumber != null and paramCondition.taskNumber != ''">
                and task_number like CONCAT('%',#{paramCondition.taskNumber},'%')
            </if>
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.sparePartsManagement.wmsCabinet2ReplenishmentTask.model.result.WmsCabinet2ReplenishmentTaskResult" parameterType="cn.stylefeng.guns.modular.sparePartsManagement.wmsCabinet2ReplenishmentTask.model.params.WmsCabinet2ReplenishmentTaskParam">
        select
        <include refid="Base_Column_List"/>
        from wms_cabinet2_replenishment_task where 1 = 1
            <if test="paramCondition.taskNumber != null and paramCondition.taskNumber != ''">
                and task_number like CONCAT('%',#{paramCondition.taskNumber},'%')
            </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.sparePartsManagement.wmsCabinet2ReplenishmentTask.model.params.WmsCabinet2ReplenishmentTaskParam">
        select
        <include refid="Base_Column_List"/>
        from wms_cabinet2_replenishment_task where 1 = 1
            <if test="paramCondition.taskNumber != null and paramCondition.taskNumber != ''">
                and task_number like CONCAT('%',#{paramCondition.taskNumber},'%')
            </if>
    </select>

    <select id="findByTaskNumber"  resultType="cn.stylefeng.guns.modular.sparePartsManagement.wmsCabinet2ReplenishmentTask.model.result.WmsCabinet2ReplenishmentTaskResult" parameterType="string">
        select
        <include refid="Base_Column_List"/>
         from wms_cabinet2_replenishment_task
         where task_number = #{taskNumber}
    </select>

    <update id="updateStateById" parameterType="string">
        update wms_cabinet2_replenishment_task set task_state = #{state} where id = #{id}
    </update>

    <select id="findById" resultType="cn.stylefeng.guns.modular.sparePartsManagement.wmsCabinet2ReplenishmentTask.model.params.WmsCabinet2ReplenishmentTaskParam" parameterType="string">
        select
        <include refid="Base_Column_List"/>
        from wms_cabinet2_replenishment_task
        where id = #{id}
    </select>

</mapper>
